@import url('./normalize.css');
@import url('./skeleton.css');
@import url('./datepicker.css');


/**
 * General
*/
* {
    font-family: Concourse T3 !important;
}

body {

}

select:focus, input:focus, textarea:focus {
    border: none;
}

select:active, input:active, textarea:active {
    border-top: 1px solid black !important;
}

.container {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 50px;
}


/**
 * Nav
 */
nav {
    height: 50px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

#period  {
    height: 100%;
    border: none;
    font-size: 13px;
    letter-spacing: .1rem;
    color: #555;
    padding: 0 20px;
}


#period {
    border-radius: 5px 0 0 0;
    width: 220px;
}

#period:focus {
    border-top: 1px solid black !important;
}


/**
 * Selected date
 */
#selected-date {
    padding-top: 25px;
}

#selected-date, #actions {
    margin: auto;
    max-width: 600px;
}

/**
 * Actions
 */
#actions {
    padding: 20px;
}
